# dependencias/entorno
node_modules/
.env
.env.*
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.idea/

# build
.dist/
dist/
.out/
out/

# Archivos de sistema
.DS_Store

# Archivos de configuración de Vite
vite.config.ts.*

# Otros
*.tar.gz
logs/
uploads/